body {
  font-size: 18px;
  color: ghostwhite;
  font-family: "Open Sans", sans-serif;
  background: #242424;

  .author {
    position: absolute;
    bottom: 10px;
    right: 10px;

    a {
      cursor: pointer;
      color: dimgray;
      text-decoration: none;

      &:hover  {
        opacity: 0.8;
      }
    }
  }

  .title {
    margin-top: 20px;
    text-align: center;
    padding: 8px;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
    width: 100%;

    &.big {
      font-size: 32px;
      border: none;
    }
  }

  .shortcut {
    text-align: center;
    font-weight: bolder;

    .key {
      display: inline;
      text-align: center;
      border: 2px solid white;
      padding: 6px 12px;
      margin: 2px;
      border-radius: 5px;
      font-size: 12px;
    }
  }
}
