body {
  //overflow: hidden;

  .container {
    height: 50px;
    -webkit-app-region: drag;
    overflow: hidden;
  }

  color: ghostwhite !important;
  background: #242424;
  margin: 0;
  font-family: 'Roboto', sans-serif;

  .address {
    text-align: center;
    user-select: none;
    padding-top: 4px;
    margin-left: 25px;

    input {
      -webkit-app-region: no-drag;

      width: 270px;
      height: 20px;
      margin-top: 10px;
      padding: 1px 35px 1px 10px;
      font-size: small;
      border: none;
      color: ghostwhite;

      background-color: dimgray;
      border-radius: 10px;

      &::placeholder {
        color: dimgray;
      }

      &:focus {
        outline: none;
      }
    }

    .btn {
      transform: translateY(25%);
      width: 10px;
      height: 10px;
      padding: 5px 20px 5px 5px;

      &#favourite {
        margin-right: -45px;
      }

      &#go {
        margin-left: -45px;
      }
    }
  }

  .nav {
    position: absolute;
    left: 0;
    top: 6px;

    .btn {
      &:first-child {
        margin-left: 10px;
      }
    }
  }

  .btn {
    -webkit-app-region: no-drag;
    user-select: none;
    cursor: pointer;

    width: 20px;
    height: 20px;

    padding: 0 3px;

    transform: translateY(50%);
    display: inline-block;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &#back { background-image: url('../../assets/chevron_left.svg') }
    &#forward, &#go { background-image: url('../../assets/chevron_right.svg') }
    &#refresh { background-image: url('../../assets/refresh.svg') }
    &#options { background-image: url('../../assets/more_vert.svg') }
    &#opacity { background-image: url('../../assets/bulb.svg') }
    &#click { background-image: url('../../assets/touch_app.svg') }
    &#quit { background-image: url('../../assets/close.svg') }
    &#external { background-image: url('../../assets/open_in_new.svg') }
    &#history { background-image: url('../../assets/history.svg') }
    &#favourites, &#favourite { background-image: url('../../assets/star.svg') }
    &#adblock { background-image: url('../../assets/monetization.svg') }
    &#mute { background-image: url('../../assets/volume_mute.svg') }
    &#paste { background-image: url('../../assets/content_paste.svg') }
    &#help { background-image: url('../../assets/help_outline.svg') }

    &:hover {
      opacity: 0.5;
    }

    img {
      width: 100%;
      height: 100%;
      margin: 5px;
    }
  }

  .control {
    position: absolute;
    right: 0;
    top: 6px;
    .btn {
      width: 18px;
      height: 18px;

      &:last-child {
        margin-right: 10px;
      }
    }
  }

  #options-container {
    display: none;
  }
}
