<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tools</title>
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="../styles/main.css">
  <script src="index.js"></script>
</head>
<body>
<div class="container">
  <div id="nav-container">
    <div class="nav">
      <div class="btn" id="back" title="Back"></div>
      <div class="btn" id="forward" title="Forward"></div>
      <div class="btn" id="refresh" title="Refresh"></div>
    </div>
    <div class="address">
<!--      <div class="btn" id="favourite" title="Add to Favourites"></div>-->
      <input id="url" type="url" placeholder="example.com">
      <div class="btn" id="go" title="Go"></div>
    </div>
  </div>
  <div id="options-container">
    <div class="nav">
      <div class="btn" id="opacity" title="Cycle through stages of opacity"></div>
      <div class="btn" id="click" title="Disable Mouse Events on the Window"></div>
      <div class="btn" id="external" title="Open Current Page in Browser"></div>
<!--      <div class="btn" id="history" title="Open History View"></div>-->
<!--      <div class="btn" id="favourites" title="Open Favourites View"></div>-->
      <div class="btn" id="adblock" title="Toggle AdBlock"></div>
      <div class="btn" id="mute" title="Toggle Mute"></div>
      <div class="btn" id="help" title="Help"></div>
    </div>
  </div>
  <div class="control">
    <div class="btn" id="options" title="Options"></div>
    <div class="btn" id="quit" title="Quit"></div>
  </div>
</div>
</body>
</html>
