<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tools</title>
  <link rel="stylesheet" href="index.css">
  <script src="index.js"></script>
</head>
<body>
<div class="url-box">
  <label for="url"></label><input id="url" type="url" alt="URL">
  <img alt="go" title="Go" id="go" src="../../assets/arrow.svg"/>
</div>
<div class="control">
  <img alt="opacity" title="Toggle Opacity" id="opacity" src="../../assets/bulb.svg"/>
  <img alt="move" title="Click Through" id="click" src="../../assets/click.svg"/>
  <img alt="move" title="Toggle Dragging" id="move" src="../../assets/location.svg"/>
</div>
</body>
</html>
