<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tools</title>
  <link rel="stylesheet" href="index.css">
  <script src="index.js"></script>
</head>
<body>
<div class="container">
  <div class="address">
    <input id="url" type="url" placeholder="http://example.com">
  </div>
  <div class="btn" id="go" title="Go"></div>
  <div class="control">
    <div class="btn"  id="opacity" title="Toggle Opacity"></div>
    <div class="btn" id="click" title="Click Through"></div>
    <div class="btn" id="close" title="Close"></div>
  </div>
</div>
</body>
</html>
