body {

  .container {
    height: 50px;
    -webkit-app-region: drag;
  }

  color: ghostwhite !important;
  overflow: hidden;
  background: #242424;
  margin: 0;
  font-family: 'Roboto', sans-serif;

  .address {
    float: left;
    -webkit-app-region: no-drag;
    user-select: none;

    input {
      width: 260px;
      height: 28px;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 5px;
      padding: 1px;
      font-size: medium;
      border: none;
      color: ghostwhite;

      background-color: transparent;
      border-bottom: 1px solid ghostwhite !important;

      &::placeholder {
        color: dimgray;
      }

      &:focus {
        outline: none;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .btn {
    -webkit-app-region: no-drag;
    user-select: none;

    width: 25px;
    height: 25px;

    padding: 0 3px;

    &:last-child {
      margin-right: 10px;
    }

    transform: translateY(50%);
    display: inline-block;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &#go { background-image: url('../../assets/arrow.svg') }
    &#opacity { background-image: url('../../assets/bulb.svg') }
    &#click { background-image: url('../../assets/touch_app.svg') }
    &#close { background-image: url('../../assets/close.svg') }

    &:hover {
      opacity: 0.5;
    }

    img {
      width: 24px;
      height: 24px;
      margin: 5px;
    }
  }

  .control {
    float: right;
  }
}

