<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Floaty</title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
<div class="container">
  <div class="title">Shortcuts</div>
</div>
<div class="container">
  <div class="title">Open Externally</div>
  <div class="shortcut">
    <div class="key">Cmd</div> / <div class="key">Ctrl</div> + <div class="key">Shift</div> + <div class="key">E</div>
  </div>
  <div class="title">Click-Through</div>
  <div class="shortcut">
    <div class="key">Cmd</div> / <div class="key">Ctrl</div> + <div class="key">Shift</div> + <div class="key">X</div>
  </div>
  <div class="title">Show/Hide</div>
  <div class="shortcut">
    <div class="key">Cmd</div> / <div class="key">Ctrl</div> + <div class="key">Shift</div> + <div class="key">V</div>
  </div>
  <div class="title">Close</div>
  <div class="shortcut">
    <div class="key">Cmd</div> / <div class="key">Ctrl</div> + <div class="key">Shift</div> + <div class="key">C</div>
  </div>
</div>

<div class="author">
  <a id="github">@edkotkas</a>
</div>
</body>
</html>
