<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'">

  <title>Floaty</title>

  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
<div class="container">
  <div id="content">
    <div></div>
  </div>
</div>

<!--<div class="container shortcuts">-->
<!--  <div class="title">Show/Hide</div>-->
<!--  <div class="shortcut">-->
<!--    <div class="key">Cmd</div> / <div class="key">Ctrl</div> + <div class="key">Shift</div> + <div class="key">V</div>-->
<!--  </div>-->

<!--  <div class="title">Click-Through</div>-->
<!--  <div class="shortcut">-->
<!--    <div class="key">Cmd</div> / <div class="key">Ctrl</div> + <div class="key">Shift</div> + <div class="key">X</div>-->
<!--  </div>-->

<!--  <div class="title">Open Externally</div>-->
<!--  <div class="shortcut">-->
<!--    <div class="key">Cmd</div> / <div class="key">Ctrl</div> + <div class="key">Shift</div> + <div class="key">E</div>-->
<!--  </div>-->

<!--  <div class="title">Toggle Mute</div>-->
<!--  <div class="shortcut">-->
<!--    <div class="key">Cmd</div> / <div class="key">Ctrl</div> + <div class="key">Shift</div> + <div class="key">M</div>-->
<!--  </div>-->

<!--  <div class="title">Open URL From Clipboard</div>-->
<!--  <div class="shortcut">-->
<!--    <div class="key">Cmd</div> / <div class="key">Ctrl</div> + <div class="key">Shift</div> + <div class="key">A</div>-->
<!--  </div>-->

<!--  <div class="title">Quit</div>-->
<!--  <div class="shortcut">-->
<!--    <div class="key">Cmd</div> / <div class="key">Ctrl</div> + <div class="key">Shift</div> + <div class="key">Q</div>-->
<!--  </div>-->
<!--</div>-->
</body>
</html>
